<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/loginStyle.css">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <title>Hello, world!</title>
</head>
<body style="background-color:#9ab87a;">
<!-- Navbar -->
<!--<div th:insert="~{/navbar.html}"></div>-->
<!--<img class="wave" src="img/wave_1.svg">-->
<div class="container">
    <div class="img">
        <img src="img/signup.svg">
    </div>
    <div class="login-content">
        <form class="login" th:action="@{/cadastrarUsuario}" th:object="${usuario}" method="POST">
            <div th:if="${session.messageError}" th:classaappend="${session.messageError}" class="alert alert-danger"
                 role="alert">
                <p th:text="${session.messageError}"></p>
                <th:block th:text="${#session.removeAttribute('messageError')}"></th:block>
            </div>
            <h2 class="title">Cadastro</h2>

            <!--            Nome-->
            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-user"></i>
                </div>
                <div class="div">
                    <h5 class="font-weight-bold">Nome</h5>
                    <input name="nome" id="inputNome" aria-describedby="nomeHelp" type="text" class="input" required>
                </div>
            </div>

            <!--            Email-->
            <div class="input-div one">
                <div class="i">
                    <i class="fa fa-envelope"></i>
                </div>
                <div class="div">
                    <h5 class="font-weight-bold">E-mail</h5>
                    <input name="email" id="inputEmail" aria-describedby="emailHelp" type="email" class="input"
                           required>
                </div>
            </div>

            <!--            Data nascimento-->
            <!--            <div class="input-div one">-->
            <!--                <div class="i">-->
            <!--                    <i class="fas fa-circle"></i>-->
            <!--                </div>-->
            <!--                <div class="div">-->
            <!--&lt;!&ndash;                    <h5>Data de nascimento</h5>&ndash;&gt;-->
            <!--                    <input name="dataNascimento" id="inputData" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" type="date" class="input">-->
            <!--                </div>-->
            <!--            </div>-->

            <!--            Endereço-->
            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-map-marker"></i>
                </div>
                <div class="div">
                    <h5 class="font-weight-bold">Endereço</h5>
                    <input name="endereco" id="inputEndereco" aria-describedby="enderecoHelp" type="text" class="input"
                           required>
                </div>
            </div>

            <!--            Senha-->
            <div class="input-div pass">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="div">
                    <h5 class="font-weight-bold">Senha</h5>
                    <input name="senha" id="inputSenha" type="password" class="input" required>
                </div>
            </div>

            <!--            Confirma senha-->
            <div class="input-div pass">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="div">
                    <h5 class="font-weight-bold">Confirme a senha</h5>
                    <input id="inputConfirmacaoSenha" name="confirmaSenha" type="password" class="input" required>
                </div>
            </div>

            <button type="submit" class="mt-2 btn btn-block text-white" style="background-color: #3D315B;"
                    value="cadastrar">Cadastrar
            </button>
            <p class="mt-2"> Já possui conta?
                <a href="/" class="">Logar</a>
            </p>
        </form>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script type="text/javascript" src="../js/index.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>