<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <title>Meus pedidos</title>

    <style>
        .rounded-top {
            border-top-left-radius: 14px;
            border-top-right-radius: 14px;
        }
        .rounded-bottom {
            border-bottom-right-radius: 14px;
            border-bottom-left-radius: 14px;
        }
    </style>
</head>
<body>
<div th:insert="~{/fragments/navbar.html}"></div>
<section class="container mt-4">
    <h1 style="
                    font-size: 2.4rem;
                    font-weight: bold;
                    color: #444b6e;
                    font-family: courier, arial, helvetica;
                ">
        MEUS PEDIDOS
    </h1>
    <div style="width: 40px; height: 4px; background-color: #9ab87a"></div>
    <h3 class="text-secondary mt-4" th:if="${pedidos.isEmpty()}">
        Nenhum pedido encontrado.
    </h3>
    <div class="mt-5 mb-2 border-rounded" th:each="pedido : ${pedidos}">
        <div class="container">
            <div class="bg-light text-secondary row rounded-top">
                <div class="col-3">
                    <p style="font-size: 0.8rem" class="text-center mt-2">
                        <span class="text-uppercase">pedido realizado</span><br />
                        <span th:text="${#dates.format(pedido.getCompra().getDataCompra(), 'dd/MM/yyyy')}"></span>
                    </p>
                </div>
                <div class="col-2">
                    <p style="font-size: 0.8rem" class="text-center mt-2">
                        <span class="text-uppercase">total</span><br />
                        <span th:text="${#numbers.formatCurrency(pedido.getCompra().getValorTotal())}">
                        </span>
                    </p>
                </div>
                <div class="col-2">
                    <p style="font-size: 0.8rem" class="text-center mt-2">
                        <span class="text-uppercase">enviar para</span><br />
                        <span
                                class="text-capitalize"
                                th:text="${usuario.getNome()}"
                        ></span>
                    </p>
                </div>
                <div class="col-5">
                    <p style="font-size: 0.8rem" class="text-center mt-2">
                        <span class="text-uppercase">
                            pedido n° <span th:text="${pedido.getCompra().getId()*7707}"></span>
                        </span>
                    </p>
                </div>
            </div>
            <div
                    class="row mt-3 mb-2 bg-light"
                    style="padding: 24px"
                    th:each="item : ${pedido.getItens()}">
                <div class="col-md-2 col-12">
                    <img
                            style="width: 100%"
                            th:src="@{/produto/mostrarImagem/{imagem}(imagem=${item.produto.fotoReprodutor})}"
                    />
                </div>
                <div class="col-1 d-md-none"></div>
                <div class="col-md-3 col-6">
                    <a
                            th:href="@{'/produto/detalhesProduto/'+${item.getProduto().getId()}}"
                            class="text-capitalize" th:text="${item.getProduto().getNome()}">
                    </a>
                    <br />
                    <br />
                    <a th:href="@{'/adicionarCarrinho/'+${item.getProduto().getId()}}">
                        <button class="btn btn-outline-success fw-bold">Comprar novamente</button>
                    </a>
                </div>
                <div class="col-md-2 col-6">
                    <span>Quantidade</span><br />
                    <span th:text="${item.getQuantidade()}"></span>
                </div>
                <div class="col-md-2 col-6">
                    <span>Valor unitário</span><br />
                    <span th:text="${#numbers.formatCurrency(item.getValorUnitario())}"></span>
                </div>
                <div class="col-md-2 col-12">
                    <span th:if="${item.status == null}">
                        Processando..<br />
                    </span>
                    <span th:text="${item.status}"></span><br />
                    <span style="font-size: 0.8rem" class="text-secondary" th:if="${item.status.equals('Processando')}">
                        Seu pedido está sendo preparado.
                    </span>
                    <span style="font-size: 0.8rem" class="text-secondary" th:if="${item.status.equals('Transporte')}">
                        Seu pedido foi enviado para a transportadora.
                    </span>
                    <span style="font-size: 0.8rem" class="text-secondary" th:if="${item.status.equals('Enviado')}">
                        Seu pedido está a caminho da sua residência.
                    </span>
                    <span style="font-size: 0.8rem" class="text-secondary" th:if="${item.status.equals('Entregue')}">
                        Seu pedido foi entregue.
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <h5>Endereço</h5>
                    <hr />
                    <span class="text-capitalize" th:text="${pedido.getCompra().getUsuario().getRua()+' - '}"></span>
                    <span th:text="${pedido.getCompra().getUsuario().getNumero()}">Rua são felipe</span><br />
                    <span
                            th:if="${pedido.getCompra().getUsuario().complemento != ''}"
                            th:text="${pedido.getCompra().getUsuario().getComplemento()}">
                    </span><br />
                    <span class="text-capitalize" th:text="${pedido.getCompra().getUsuario().getCidade()}">Macaíba/RN</span><br />
                    <span th:text="${pedido.getCompra().getUsuario().getCep()}">59280000</span><br /><br />
                </div>
                <div class="col-3">
                    <h5>Contato</h5>
                    <hr />
                    <span th:text="${pedido.getCompra().getUsuario().getEmail()}">84 00000-0000</span>
                </div>
                <div class="col-12 bg-light p-3"></div>
            </div>

        </div>
    </div>
</section>
<!--<div th:insert="~{/fragments/footer.html}"></div>-->
<!--<div th:insert="~{/fragments/footer.html}"></div>-->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>