<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/SignUpStyle.css">
  <script src="https://kit.fontawesome.com/a81368914c.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
  <title>Minhas vendas</title>

  <style>
    .rounded-top {
      border-top-left-radius: 14px;
      border-top-right-radius: 14px;
    }
    .rounded-bottom {
      border-bottom-right-radius: 14px;
      border-bottom-left-radius: 14px;
    }
  </style>
</head>
<body>
<div th:insert="~{/fragments/navbar.html}"></div>
<section class="container mt-4">
  <h1 style="
                    font-size: 2.4rem;
                    font-weight: bold;
                    color: #444b6e;
                    font-family: courier, arial, helvetica;
                ">
    MINHAS VENDAS
  </h1>
  <div style="width: 40px; height: 4px; background-color: #9ab87a"></div>
  <h3 class="text-secondary mt-4" th:if="${compras.isEmpty()}">
    Nenhuma venda encontrada.
  </h3>
  <div class="mt-5 mb-2 border-rounded" th:each="compra : ${compras}">
    <div class="container">
<!--  Informações do cliente    -->
      <div class="bg-light text-secondary row rounded-top">
        <div class="col-4">
          <p style="font-size: 0.8rem" class="text-center mt-2">
            <span class="text-uppercase">compra realizado</span><br />
            <span th:text="${compra.getCompra().getDataCompra()}"></span>
          </p>
        </div>
        <div class="col-4">
          <p style="font-size: 0.8rem" class="text-center mt-2">
            <span class="text-uppercase">enviar para</span><br />
            <span
                    class="text-capitalize"
                    th:text="${compra.getCompra().usuario.getNome()}"
            ></span>
          </p>
        </div>
        <div class="col-4">
          <p style="font-size: 0.8rem" class="text-center mt-2">
              <span class="text-uppercase">
                  pedido n° <span th:text="${compra.getCompra().getId()*7707}"></span>
              </span>
          </p>
        </div>
      </div>
<!--  Informações do produto    -->
      <div
              class="row mt-3 mb-2 bg-light"
              style="padding: 24px">
        <div class="col-3">
          <img
                  style="width: 10rem"
                  th:src="@{/produto/mostrarImagem/{imagem}(imagem=${compra.getProduto().fotoReprodutor})}"
          />
        </div>
        <div class="col-3">
          <span
                  style="font-size: 1.4rem"
                  class="text-capitalize" th:text="${compra.getProduto().getNome()}">
          </span>
        </div>
        <div class="col-2 text-center">
          <span>Quantidade</span><br />
          <span th:text="${compra.getQuantidade()}"></span>
        </div>
        <div class="col-2 text-center">
          <span>Valor unitário</span><br />
          <span th:text="${#numbers.formatCurrency(compra.getValorUnitario())}"></span>
        </div>
        <div class="col-2 text-center">
          <span th:if="${compra.status == null}">
            Processando..<br /><span style="font-size: 0.8rem" class="text-secondary">
            Seu produto está sendo preparado
          </span>
          </span>
        </div>
      </div>
<!--  Endereço para entrega     -->
      <div class="row">
        <div class="col-3">
          <h5>Endereço</h5>
          <hr />
          <span class="text-capitalize" th:text="${compra.getCompra().getUsuario().getRua()+' - '}"></span>
          <span th:text="${compra.getCompra().getUsuario().getNumero()}">Rua são felipe</span><br />
          <p th:if="${compra.getCompra().getUsuario().complemento != ''}">
              <span
                  th:text="${compra.getCompra().getUsuario().getComplemento()}">Complemento
              </span>
          </p>
          <span class="text-capitalize" th:text="${compra.getCompra().getUsuario().getCidade()}">Macaíba/RN</span><br />
          <span th:text="${compra.getCompra().getUsuario().getCep()}">59280000</span><br /><br />
        </div>
        <div class="col-3">
          <h5>Contato</h5>
          <hr />
          <span th:text="${compra.getCompra().getUsuario().getEmail()}">84 00000-0000</span>
        </div>
        <div class="col-12 bg-light p-3"></div>
      </div>
    </div>
  </div>
</section>
<!--<div th:insert="~{/fragments/footer.html}"></div>-->
<!--<div th:insert="~{/fragments/footer.html}"></div>-->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>