<xlmns:html lang="en" xmlns:th="http://www.thymeleaf.org"
            xlmns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity5"
            xmlns:xlmns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

    <div th:fragment="alertSuccess(title, message)">
        <div class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" th:text="${title}"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p th:text="${message}"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal">Continuar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:fragment="alertWarning(title, message)">
        <div class="modal" id="war" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" th:text="${title}"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <i class="w-75 bi bi-exclamation-circle color-warning"></i>
                        <p th:text="${message}"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-dismiss="modal">Continuar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</xlmns:html>