<xlmns:html lang="en" xmlns:th="http://www.thymeleaf.org"
            xlmns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity5"
            xmlns:xlmns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

        <footer class="text-center text-lg-start text-light mt-5" style="background-color: #444b6e">
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2021 Copyright:
                <a class="text-info" th:href="@{/sobre}">Genes.com</a>
            </div>
        </footer>
</xlmns:html>