<xlmns:html lang="en" xmlns:th="http://www.thymeleaf.org"
            xlmns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity5"
            xmlns:xlmns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #9ab87a;">
        <img th:src="@{/img/GenesRN.png}" style="width: 50px">
        <a class="navbar-brand" href="/home">GenesRN</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mr-5" id="navbarText">
            <ul class="navbar-nav mr-auto" style="visibility: hidden">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>

            <a th:if="${#authorization.expression('isAnonymous()')}" class="nav-link font-weight-bold text-white"
               href="/login">Login <span class="sr-only">(current)</span></a>

            <a th:if="${#authorization.expression('isAnonymous()')}" class="nav-link font-weight-bold text-white"
               href="/cadastrarUsuario">Cadastrar <span class="sr-only">(current)</span></a>

            <span sec:authorize="isAuthenticated()" class="navbar-text mr-2">
                <li class="nav-item dropdown " style="list-style: none;">
                    <a th:text="${usuario.nome}" class="text-capitalize nav-link dropdown-toggle font-weight-bold" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                          <i class="fa fa-user" aria-hidden="true"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/home">Home</a>
                        <a class="dropdown-item" href="/produto/meusProdutos">Meus produtos</a>
                        <a class="dropdown-item" href="/meusPedidos">Meus pedidos</a>
                        <a th:href="@{/edit/{id}(id=${usuario.id})}" class="dropdown-item" >Editar perfil</a>
<!--                        <a th:href="@{/sobre}" class="dropdown-item">Sobre</a>-->
                        <a th:href="@{/logout}" class="dropdown-item" type="submit">Logout</a>

                    </div>
                </li>
            </span>
            <a href="/carrinho" sec:authorize="isAuthenticated()" class="navbar-text mr-2">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </a>
        </div>
    </nav>
</xlmns:html>
