<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <title>Alterar</title>
</head>
<body>
<div th:insert="~{/navbar.html}"></div>
<div class="row mt-4">
    <div class="col-md-2"></div>
    <section class="col-md-8 mt-2">
        <h2 class="text-center"
            style="
                font-size: 2.2rem;
                font-weight: bold;
                color: #444b6e;
                font-family: courier, arial, helvetica;
            "
        >EDITAR PRODUTO</h2>
        <form class="col-12 mt-2" th:action="@{/produto/cadastrarProduto}" th:object="${produto}"  enctype="multipart/form-data" method="POST">
            <div class="mb-2" style="width: 100%; height: 4px; background-color: #9ab87a"></div>
            <div class="form-row">
                <div class="form-group col-12">
                    <div class="d-flex justify-content-center mt-2">
                        <img
                                th:src="@{/produto/mostrarImagem/{imagem}(imagem=*{fotoReprodutor})}"
                                class="card-img-top crop w-50 rounded"
                                src="..."
                                alt="Card image cap"
                        >
                        <br>
                    </div>
                    <input class="mt-2" th:if="*{fotoReprodutor} == null" name="imageFile" type="file"/>
                    <input name="fotoReprodutor" th:if="*{fotoReprodutor} != null" type="hidden" th:value="*{fotoReprodutor}">
                </div>
                <input name="id" th:value="*{id}" hidden>
                <div class="form-group col-md-6">
                    <label for="inputNome">Nome</label>

                    <input th:if="*{usuario} != null" hidden
                           th:attr="name='usuario.id'" th:value="*{usuario.id}"/>
                    <input name="nome" th:field="*{nome}" type="text" class="form-control" id="inputNome" placeholder="Nome">
                </div>
                <div class="form-group col-md-6">
                    <label for="tipo">Gênero</label></br>
                    <select class="form-control validar" id="tipo" required th:name="genero">
                        <option th:each="t : ${T(com.pa2.genesrn.enums.EnumGenero).values()}"
                                th:value="${t}" th:text="${t.getDescricao()}">
                        </option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputQuantidade">Quantidade</label>
                    <input name="quantidade" th:field="*{quantidade}" type="number" class="form-control" id="inputQuantidade"
                           placeholder="Quantidade">
                </div>
                <div class="form-group col-md-6">
                    <label for="valor">Valor</label>
                    <input name="valor" th:field="*{valor}" type="text" class="form-control" id="valor">
                </div>
            </div>
            <div class="form-group">
                <label for="inputDescricao">Descricao</label>
                <textarea name="descricao" th:field="*{descricao}" class="form-control" id="inputDescricao"
                          placeholder="Descricao"></textarea>
            </div>
            <div class="d-flex justify-content-between mb-4">
                <button type="submit" class="btn btn-success">Atualizar</button>
                <a th:href="@{/produto/meusProdutos}" type="button" class="btn btn-secondary text-light">Fechar</a>
            </div>
            <div style="width: 100%; height: 4px; background-color: #9ab87a"></div>
</div>
</form>
</section>
<div class="col-md-2"></div>
</div>
<footer class="text-center text-lg-start text-light mt-5" style="background-color: #444b6e">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright:
        <a href="https://Genes.com/">Genes.com</a>
    </div>
</footer>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>