<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <title>detalhes</title>
</head>
<body>
    <section class="container mt-2" th:action="@{/produto/cadastrarProduto}" th:object="${produto}">


            <div >
                <div class="form-group col-12">
                    <img
                            th:src="@{/produto/mostrarImagem/{imagem}(imagem=*{fotoReprodutor})}"
                            class="card-img-top crop w-50"
                            src="..."
                            alt="Card image cap"
                    >

                    <br>


                </div>
                <div>
                    <h1 name="nome" th:text="*{nome}"><h1/>
                </div>
                <h1>preço</h1> <br/>
                <div><h1 name="preco" th:text="*{valor}"><h1/></div> <br/>
                <h1>Quantidade</h1> <br/>
                <div><h1 name="qtd" th:text="*{quantidade}"><h1/></div> <br/>
                <h1>Descrição</h1> <br/>
                <div><h1 name="desc" th:text="*{descricao}"><h1/></div> <br/>


            </div>
            </div>

    </section>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>