<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <title>GenesRN</title>
    <style>
        .texto-top {
            font-size: 0.8rem;
            font-family: 'Source Code Pro';
        }
    </style>
</head>
<body>
<!--<a th:href="@{/logout}" class="text-dark  my-2 my-sm-0" type="submit">Logout</a>-->

<div th:insert="~{/navbar.html}"></div>
<div class="justify-content-center">
    <div class="mt-4 mb-4 row justify-content-center col-12">
        <div class="col-lg-2 mt-1">
            <a type="button" class="btn btn-outline-info  btn-md btn-block">Bovino</a>
        </div>
        <div class="col-lg-2 mt-1">
            <a type="button" class="btn btn-outline-info  btn-md btn-block">Suíno</a>
        </div>
        <div class="col-lg-2 mt-1">
            <a type="button" class="btn btn-outline-info  btn-md btn-block">Equino</a>
        </div>
    </div>
</div>
    <div class="container col-12 justify-content-center">
        <div class="row ">
            <div class="col-sm " th:each="produto : ${produtos}">
                <div class="card mt-3 " style="width: 22rem;">
                    <div class="card-body">
                        <img
                                th:src="@{/produto/mostrarImagem/{imagem}(imagem=${produto.fotoReprodutor})}"
                                class="rounded mx-auto d-block card-img-top" alt="Card image cap" style="width: 15rem;">
                        <h5 th:text="${produto.nome}" class="text-center card-title"></h5>
                        <p th:text="${produto.descricao}" class="text-center card-text">
                        </p>
                        <button class="float-right btn btn-outline-success" type="button">
                    <i class=" fa fa-shopping-cart" aria-hidden="true"></i>
                </button>
                        <button class="float-left btn btn-outline-info" type="button">
                            <i class="fa fa-info" aria-hidden="true"></i>
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </div>

<!--</footer>-->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>