<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" >
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/a81368914c.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/loginStyle.css">

  <title></title>
</head>
<body>
<!-- Navbar -->
<nav class="mb-3 navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Genes RN</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <a href="/login" class="btn btn-light my-2 my-sm-0 mr-1 " type="submit">Login</a>
      <a href="/cadastrar" class="btn btn-light my-2 my-sm-0" type="submit">Cadastrar</a>
    </form>
  </div>
</nav>

<div class="container">
  <div class="login-content">
    <form th:action="@{/login}" method="POST">
      <h2 class="title">Login</h2>
      <div th:if="${param.logout}">
        <h5 class="text-center text-success"> Logout </h5>

      </div>
      <div th:if="${param.error}">
        <h5 class="text-danger text-success"> E-mail ou senha inválido </h5>

      </div>
      <div class="input-div one">
        <div class="i">
          <i class="fas fa-user"></i>
        </div>
        <div class="div">
          <h5>E-mail</h5>
          <input name="username" type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp">
        </div>
      </div>
      <div class="input-div pass">
        <div class="i">
          <i class="fas fa-lock"></i>
        </div>
        <div class="div">
          <h5 class="font-weight-bold">Senha</h5>
          <input type="password" class="form-control" id="inputSenha" name="password">
        </div>
      </div>
      <a class="font-weight-bold" href="#">Esqueceu a senha?</a>
      <button type="submit" class="mt-2 btn btn-outline-success btn-block" value="Login">Login</button>
      <p class="mt-2"> Não possui conta?
        <a href="/" class="">Cadastre-se</a>
      </p>
    </form>
  </div>
</div>

<script type="text/javascript" src="js/main.js"></script>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script type="text/javascript" src="../js/index.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>