<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <title>Meus Produtos</title>
    <style>
        .texto-top {
            font-size: 0.8rem;
            font-family: 'Source Code Pro';
        }
        .crop {
             object-fit: cover;
             width:100%;
             height:14rem;
        }

        .crop-image {
            object-fit: cover;
            width:100%;
            height:24rem;
        }
    </style>
</head>
<body>

<div
        class="bg-light w-100 container-fluid border-bottom p-2 texto-top"
>
    <span class="ml-4 align-start">TELEFONE: 00 00000-0000</span>
    <span class="ml-4 mr-4"> | </span>
    <span>EMAIL: genesrn@email.com</span>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-white mb-2">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home"
           style="display: flex; justify-content: space-between; align-items: center;">
            <img th:src="@{/produto/mostrarImagem/{imagem}(imagem='boi.png')}"
                    alt="" style="width: 85px; height: 75px;"/>
            <h2 style="font-size: 1.4rem">GENES-RN</h2>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" href="/home">Home</a>
                <a class="nav-link" href="/produto/meusProdutos">Meus produtos</a>
                <a class="nav-link" href="/produto/vitrine">Vitrine</a>
                <a class="nav-link" href="#">Sobre</a>
                <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Contato</a>
            </div>
        </div>
        <div class="col-md-5">
            <h3 class="text-capitalize" th:text="'Nome: '+ ${produto.nome.toLowerCase()}"></h3>
            <p th:text="'Gênero: '+ ${produto.genero}"></p>
            <p class="font-weight-bold" th:text="'Descrição: '+ ${produto.descricao}">
                <span></span>
            </p>
            <p
               >Preço/Unidade: <span class=" badge badge-pill badge-info font-weight-bold" th:text="${#numbers.formatCurrency(produto.valor)}"></span></p>
            <p></p>
            <p th:text="'Quantidade em estoque: ' + ${produto.quantidade}"></p>

            <!--            <a class="btn btn-outline-info m-3" th:href="@{'/produto/detalhes/'+${produto.nome}+'/'+${usuario.id}}"-->
            <!--               data-toggle="tooltip"-->
            <!--               data-placement="bottom"-->
            <!--            >Detalhes </a>-->
            <a th:href="@{'/produto/alterar/'+${produto.getNome()}}" class="btn btn-outline-primary" href="#">Editar
                produto</a>
        </div>
    </div>
</section>
<footer class="bg-light text-center text-lg-start">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright:
        <a class="text-dark" href="https://Genes.com/">Genes.com</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>