<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <style>
        .texto-top {
            font-size: 0.8rem;
            font-family: 'Source Code Pro';
        }
        .crop-image {
            object-fit: cover;
            width:100%;
            height:60vh;
        }
    </style>
    <title>Sobre nós</title>
</head>
<body>
<div th:insert="~{/navbar.html}"></div>
<section class="w-100" style="background-color: #3d315b">


</section>
<section class="w-100 p-4 bg-white">
    <div class="row">
        <div class="col">
            <div class="container">
                <h1
                        style="
                    font-size: 2.4rem;
                    font-weight: bold;
                    color: #444b6e;
                    font-family: courier, arial, helvetica;
                ">
                    SOBRE NÓS
                </h1>
                <div style="width: 40px; height: 4px; background-color: #9ab87a"></div>
            </div>
            <br>
            <p class="text-dark text-justify container">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nam rhoncus interdum mauris, at dapibus lorem mollis eu.
                Vivamus dictum in odio eu commodo. Quisque vitae ornare erat.
                Morbi vitae auctor nisl. Etiam orci ex, suscipit vitae rutrum sed,
                placerat eu leo. Morbi nec purus et urna pharetra maximus id nec velit.
                Donec posuere interdum tortor id sagittis. Ut faucibus turpis sed
                finibus lacinia. Vestibulum ac odio ac neque fringilla molestie eget
                eu ligula. Praesent aliquam dui vitae ipsum feugiat, id finibus tortor
                rhoncus. Nunc commodo egestas nisl non rhoncus. Cras interdum odio odio,
                sit amet posuere mauris ullamcorper id.
            </p>
        </div>
    </div>
</section>
<section class="w-100 p-4 bg-white">
    <div class="row">
        <div class="col-12">
            <div class="container">
                <h1
                        style="
                    font-size: 2.4rem;
                    font-weight: bold;
                    color: #444b6e;
                    font-family: courier, arial, helvetica;
                ">
                    SERVIÇO
                </h1>
                <div style="width: 40px; height: 4px; background-color: #9ab87a"></div>

            </div>
            <br>
            <p class="text-dark text-justify container">
                Nullam ut velit nunc. Suspendisse feugiat eros
                facilisis elit facilisis ultricies. Vestibulum
                turpis eros, condimentum vel sem non, accumsan
                dictum elit. Vivamus arcu est, imperdiet id enim id,
                tincidunt rhoncus diam. Vestibulum vitae efficitur
                felis, ac porttitor nibh. Vestibulum eleifend egestas
                faucibus. Ut hendrerit, dolor vitae tempor scelerisque,
                lectus nulla pulvinar sem, et feugiat libero magna eu nulla.
                Duis at enim lacus.
            </p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <div class="card">
                        <img class="container mt-2" style="width: 5.4rem" src="https://img.icons8.com/external-kiranshastry-lineal-kiranshastry/64/000000/external-quality-logistic-delivery-kiranshastry-lineal-kiranshastry.png"/>
                        <div class="card-body">
                            <h6 class="card-title">Qualidade do produto</h6>
                            <p class="card-text">
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card">
                        <img class="container mt-2" style="width: 5.4rem" src="https://img.icons8.com/ios/50/000000/speed.png"/>
                        <div class="card-body">
                            <h6 class="card-title">Velocidade de entrega</h6>
                            <p class="card-text">
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card">
                        <img class="container mt-2" style="width: 5.4rem" src="https://img.icons8.com/ios/250/000000/lock--v1.png"/>
                        <div class="card-body">
                            <h6 class="card-title">Segurança na compra</h6>
                            <p class="card-text">
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card">
                        <img class="container mt-2 " style="width: 5.4rem" src="https://img.icons8.com/ios/100/000000/receive-change.png"/>
                        <div class="card-body">
                            <h6 class="card-title">Transparência</h6>
                            <p class="card-text">
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="w-100 p-4 bg-white">
    <div class="col-12">
        <div class="container">
            <h1
                    style="
                    font-size: 2.4rem;
                    font-weight: bold;
                    color: #444b6e;
                    font-family: courier, arial, helvetica;
                ">
                PRODUTO
            </h1>
            <div style="width: 40px; height: 4px; background-color: #9ab87a"></div>

        </div>
        <br>
        <p class="text-dark text-justify container">
            Nullam ut velit nunc. Suspendisse feugiat eros
            facilisis elit facilisis ultricies. Vestibulum
            turpis eros, condimentum vel sem non, accumsan
            dictum elit. Vivamus arcu est, imperdiet id enim id,
            tincidunt rhoncus diam. Vestibulum vitae efficitur
            felis, ac porttitor nibh. Vestibulum eleifend egestas
            faucibus. Ut hendrerit, dolor vitae tempor scelerisque,
            lectus nulla pulvinar sem, et feugiat libero magna eu nulla.
            Duis at enim lacus.
        </p>
    </div>
</section>
<section class="w-100 p-4 bg-white">
    <div class="col-12">
        <div class="container">
            <h1
                    style="
                    font-size: 2.4rem;
                    font-weight: bold;
                    color: #444b6e;
                    font-family: courier, arial, helvetica;
                ">
                EQUIPE
            </h1>
            <div style="width: 40px; height: 4px; background-color: #9ab87a"></div>

        </div>
        <br>
        <p class="text-dark text-justify container">
            Nullam ut velit nunc. Suspendisse feugiat eros
            facilisis elit facilisis ultricies. Vestibulum
            turpis eros, condimentum vel sem non, accumsan
            dictum elit. Vivamus arcu est, imperdiet id enim id,
            tincidunt rhoncus diam. Vestibulum vitae efficitur
            felis, ac porttitor nibh. Vestibulum eleifend egestas
            faucibus.
        </p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-6 mb-4">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img class="rounded" style="width: 100%" src="https://avatars.githubusercontent.com/u/49557536?v=4"/>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h6
                                        class="card-title"
                                        style="
                                        font-size: 1.6rem;
                                        font-weight: bold;
                                        color: #444b6e;
                                        font-family: courier, arial, helvetica;
                                    "
                                >George</h6>
                                <p class="card-text">
                                    <strong>Desenvolvedor</strong><br />
                                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 mb-4">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img class="rounded" style="width: 100%" src="https://avatars.githubusercontent.com/u/49846044?v=4"/>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h6
                                        class="card-title"
                                        style="
                                        font-size: 1.6rem;
                                        font-weight: bold;
                                        color: #444b6e;
                                        font-family: courier, arial, helvetica;
                                    "
                                >Alyson</h6>
                                <p class="card-text">
                                    <strong>Desenvolvedor</strong><br />
                                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 mb-4">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img class="rounded" style="width: 100%" src="https://avatars.githubusercontent.com/u/48970971?v=4"/>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h6
                                        class="card-title"
                                        style="
                                        font-size: 1.6rem;
                                        font-weight: bold;
                                        color: #444b6e;
                                        font-family: courier, arial, helvetica;
                                    "
                                >Leonardo</h6>
                                <p class="card-text">
                                    <strong>Desenvolvedor</strong><br />
                                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 mb-4">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img class="rounded" style="width: 100%" src="https://avatars.githubusercontent.com/u/51484143?v=4"/>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h6
                                        class="card-title"
                                        style="
                                        font-size: 1.6rem;
                                        font-weight: bold;
                                        color: #444b6e;
                                        font-family: courier, arial, helvetica;
                                    "
                                >Marcos</h6>
                                <p class="card-text">
                                    <strong>Desenvolvedor</strong><br />
                                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="w-100 p-4 bg-white">
    <div class="col-12">
        <div class="container">
            <h1
                    style="
                    font-size: 2.4rem;
                    font-weight: bold;
                    color: #444b6e;
                    font-family: courier, arial, helvetica;
                ">
                CONTATO
            </h1>
            <div style="width: 40px; height: 4px; background-color: #9ab87a"></div>

        </div>
        <br>
        <p class="text-dark text-justify container">
            Nullam ut velit nunc. Suspendisse feugiat eros
            facilisis elit facilisis ultricies. Vestibulum
            turpis eros, condimentum vel sem non, accumsan
            dictum elit.
        </p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-4 mt-3" style="height: 100%">
                <div style="width: 100%; height: 4px; background-color: #9ab87a"></div>
                <div class="mt-4">
                    <div class="address">
                        <i class="bi bi-geo-alt"></i>
                        <h4>Localização:</h4>
                        <p>A108 Adam Street, New York, NY 535022</p>
                    </div>
                    <div class="email">
                        <i class="bi bi-envelope"></i>
                        <h4>Email:</h4>
                        <p>info@example.com</p>
                    </div>
                    <div class="phone">
                        <i class="bi bi-phone"></i>
                        <h4>Telefone:</h4>
                        <p>+1 5589 55488 55s</p>
                    </div>
                </div>
                <div style="width: 100%; height: 4px; background-color: #9ab87a"></div>
            </div>
            <div class="col-8 mt-3">
                <div style="width: 100%; height: 4px; background-color: #9ab87a"></div>
                <div class="mt-4 mb-4">
                    <form>
                        <div class="mb-3">
                            <label for="exampleInputNome" class="form-label">Seu Nome</label>
                            <input type="text" class="form-control" id="exampleInputNome" aria-describedby="nomeHelp">
                            <div id="nomeHelp" class="form-text"></div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail" class="form-label">Seu Email</label>
                            <input type="text" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp">
                            <div id="emailHelp" class="form-text"></div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputAssunto" class="form-label">Assunto</label>
                            <input type="text" class="form-control" id="exampleInputAssunto" aria-describedby="assuntoHelp">
                            <div id="assuntoHelp" class="form-text"></div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputMensagem" class="form-label">Mensagem</label>
                            <textarea type="text" class="form-control" id="exampleInputMensagem" aria-describedby="mensagemHelp"></textarea>
                            <div id="mensagemHelp" class="form-text"></div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary">Enviar mensagem</button>
                        </div>
                    </form>
                </div>
                <div style="width: 100%; height: 4px; background-color: #9ab87a"></div>
            </div>
        </div>
    </div>
</section>
<footer class="text-center text-lg-start text-light mt-5" style="background-color: #444b6e">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright:
        <a href="https://Genes.com/">Genes.com</a>
    </div>
</footer>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>