<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <style>
        .texto-top {
            font-size: 0.8rem;
            font-family: 'Source Code Pro';
        }
        .crop-image {
            object-fit: cover;
            width:100%;
            height:60vh;
        }
    </style>
    <title>Sobre nós</title>
</head>
<body>
<div th:insert="~{/fragments/navbar.html}"></div>
<!--<nav class="navbar navbar-expand-lg navbar-light justify-content-between" style="background-color: #9ab87a;">-->
<!--    <div>-->
<!--        <img th:src="@{/img/GenesRN.png}" style="width: 50px">-->
<!--        <a class="navbar-brand" href="/">GenesRN</a>-->
<!--    </div>-->
<!--    <form class="form-inline">-->

<!--        <a class="navbar-brand texto-dark"-->
<!--           href="/login">Login <span class="sr-only">(current)</span></a>-->

<!--        <a class="navbar-brand texto-dark"-->
<!--           href="/cadastrarUsuario">Cadastrar <span class="sr-only">(current)</span></a>-->
<!--    </form>-->
<!--</nav>-->
<section class="w-100" style="background-color: #3d315b">


</section>
<section class="w-100 p-4 bg-white">
    <div class="row">
        <div class="col">
            <div class="container">
                <h1
                        style="
                    font-size: 2.4rem;
                    font-weight: bold;
                    color: #444b6e;
                    font-family: courier, arial, helvetica;
                ">
                    SOBRE NÓS
                </h1>
                <div style="width: 40px; height: 4px; background-color: #9ab87a"></div>
            </div>
            <br>
            <p class="text-dark text-justify container">
                O GenesRn é um site de produtos digitais que auxiliam no dia a dia do produtor pecuário. Trabalhamos e planejamos os nossos produtos sob duas principais perspectivas: a primeira é a Genetica do animais, e a de facilitar a conexão do produtor com o mercado digital pecuário através dessa plataforma interativa e gratuita de e-commerce.
                 Nossa missão é investir na genetica de animais exclusivos trazendo os melhores exemplares para você.
                Ao longo dos anos conquistamos posições de destaque com inúmeras premiações no país.
            </p>
        </div>
    </div>
</section>
<section class="w-100 p-4 bg-white">
    <div class="row">
        <div class="col-12">
            <div class="container">
                <h1
                        style="
                    font-size: 2.4rem;
                    font-weight: bold;
                    color: #444b6e;
                    font-family: courier, arial, helvetica;
                ">
                    SERVIÇO
                </h1>
                <div style="width: 40px; height: 4px; background-color: #9ab87a"></div>

            </div>
            <br>
            <p class="text-dark text-justify container">
                Nossos serviços são concebidos com o binômio Genética x preço. Além de uma genética apurada, acreditamos na necessidade de cuidados constantes nos detalhes do negócio. Nosso pessoal é altamente qualificado e utilizamos constantes melhorias e reposição de serviços necessários buscando sempre se adaptar ao cliente e ao mercado. Somente assim a genética atingirá o seu potencial máximo, trazendo ao potro um crescimento saudável com aparelho locomotor e estrutura óssea aptos ao esporte de alta performance.
            </p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 mt-2">
                    <div class="card">
                        <img class="container mt-2" style="width: 5.4rem" src="https://img.icons8.com/external-kiranshastry-lineal-kiranshastry/64/000000/external-quality-logistic-delivery-kiranshastry-lineal-kiranshastry.png"/>
                        <div class="card-body">
                            <h6 class="card-title">Qualidade do produto</h6>
                            <p class="card-text">
                                Baseamo-nos em uma história de confiança e foco exclusivo em qualidade e exclusividade dos animal para trazer aos clientes produtos e serviços de qualidade, e o compromisso para com seus negócios.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mt-2">
                    <div class="card">
                        <img class="container mt-2" style="width: 5.4rem" src="https://img.icons8.com/ios/50/000000/speed.png"/>
                        <div class="card-body">
                            <h6 class="card-title">Velocidade de entrega</h6>
                            <p class="card-text">
                                A melhor satisfação de frete para o cliente combinando preço acessível, menor tempo de entrega e segurança garantindo a integridade e agilidade até sua casa ou negocio.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mt-2">
                    <div class="card">
                        <img class="container mt-2" style="width: 5.4rem" src="https://img.icons8.com/ios/250/000000/lock--v1.png"/>
                        <div class="card-body">
                            <h6 class="card-title">Segurança na compra</h6>
                            <p class="card-text">
                                Trabalhamos fortemente na melhor infraestrutura do mercado de segurança para lhe assegurar a maior  tranquilidade de usar e usufruir de nossos produtos, assegurando e guardando seus dados.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mt-2">
                    <div class="card">
                        <img class="container mt-2 " style="width: 5.4rem" src="https://img.icons8.com/ios/100/000000/receive-change.png"/>
                        <div class="card-body">
                            <h6 class="card-title">Transparência</h6>
                            <p class="card-text">
                                A integridade é o princípio orientador de todas as nossas decisões e relacionamentos. Somos honestos e confiáveis em nossas palavras e ações.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="w-100 p-4 bg-white">
    <div class="col-12">
        <div class="container">
            <h1
                    style="
                    font-size: 2.4rem;
                    font-weight: bold;
                    color: #444b6e;
                    font-family: courier, arial, helvetica;
                ">
                PRODUTO
            </h1>
            <div style="width: 40px; height: 4px; background-color: #9ab87a"></div>

        </div>
        <br>
        <p class="text-dark text-justify container">
            Nossos produtos buscam oferecer geneticamente os melhores resultados do mercado, juntamente com um preço justo e de fácil acesso com as vendas digitais, trazemos garantia de devolução para irregularidades assegurando sua compra e seu dinheiro, buscando sempre sua satisfação e alegria ao usufruir de nossos produtos.
        </p>
    </div>
</section>
<section class="w-100 p-4 bg-white">
    <div class="col-12">
        <div class="container">
            <h1
                    style="
                    font-size: 2.4rem;
                    font-weight: bold;
                    color: #444b6e;
                    font-family: courier, arial, helvetica;
                ">
                EQUIPE
            </h1>
            <div style="width: 40px; height: 4px; background-color: #9ab87a"></div>

        </div>
        <br>
        <p class="text-dark text-justify container">
            Nossa equipe é o diferencial frente à concorrência. Fazemos nossa empresa crescer quando criamos um ambiente onde os colegas se sobressaem.
        </p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img class="rounded" style="width: 100%" src="https://avatars.githubusercontent.com/u/49557536?v=4"/>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h6
                                        class="card-title"
                                        style="
                                        font-size: 1.6rem;
                                        font-weight: bold;
                                        color: #444b6e;
                                        font-family: courier, arial, helvetica;
                                    "
                                >George</h6>
                                <p class="card-text">
                                    <strong>Desenvolvedor</strong><br />
                                    Suas ideias e saídas fazem o impossivel parecer um nada.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img class="rounded" style="width: 100%" src="https://avatars.githubusercontent.com/u/49846044?v=4"/>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h6
                                        class="card-title"
                                        style="
                                        font-size: 1.6rem;
                                        font-weight: bold;
                                        color: #444b6e;
                                        font-family: courier, arial, helvetica;
                                    "
                                >Alyson</h6>
                                <p class="card-text">
                                    <strong>Desenvolvedor</strong><br />
                                    Capacidade de se adaptar rapidamente dominando assim toda a situação.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img class="rounded" style="width: 100%" src="https://avatars.githubusercontent.com/u/48970971?v=4"/>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h6
                                        class="card-title"
                                        style="
                                        font-size: 1.6rem;
                                        font-weight: bold;
                                        color: #444b6e;
                                        font-family: courier, arial, helvetica;
                                    "
                                >Leonardo</h6>
                                <p class="card-text">
                                    <strong>Desenvolvedor</strong><br />
                                    Exigência de Qualidade e Eficiência em sua vida trás seus melhores resultados.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img class="rounded" style="width: 100%" src="https://avatars.githubusercontent.com/u/51484143?v=4"/>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h6
                                        class="card-title"
                                        style="
                                        font-size: 1.6rem;
                                        font-weight: bold;
                                        color: #444b6e;
                                        font-family: courier, arial, helvetica;
                                    "
                                >Marcos</h6>
                                <p class="card-text">
                                    <strong>Desenvolvedor</strong><br />
                                   Sua persistencia faz manter-se interessado em desenvolver uma poderosa ideía.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="w-100 p-4 bg-white">
    <div class="col-12">
        <div class="container">
            <h1
                    style="
                    font-size: 2.4rem;
                    font-weight: bold;
                    color: #444b6e;
                    font-family: courier, arial, helvetica;
                ">
                CONTATO
            </h1>
            <div style="width: 40px; height: 4px; background-color: #9ab87a"></div>

        </div>
        <br>
        <p class="text-dark text-justify container">
           Com o que podemos te ajudar? Fale conosco através dos nossos meios de contato abaixo!
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 mt-3" style="height: 100%">
                <div style="width: 100%; height: 4px; background-color: #9ab87a"></div>
                <div class="mt-4">
                    <div class="address">
                        <i class="bi bi-geo-alt"></i>
                        <h4>Localização:</h4>
                        <p>Avenida Jundiaí, Macaíba, cep:59280-000</p>
                    </div>
                    <div class="email">
                        <i class="bi bi-envelope"></i>
                        <h4>Email:</h4>
                        <p>GenesGeneticaTop@gmail.com</p>
                    </div>
                    <div class="phone">
                        <i class="bi bi-phone"></i>
                        <h4>Telefone:</h4>
                        <p>+55 84 994950390</p>
                    </div>
                </div>
                <div style="width: 100%; height: 4px; background-color: #9ab87a"></div>
            </div>
            <div class="col-md-8 mt-3">
                <div style="width: 100%; height: 4px; background-color: #9ab87a"></div>
                <div class="mt-4 mb-4">
                    <form>
                        <div class="mb-3">
                            <label for="exampleInputNome" class="form-label">Seu Nome</label>
                            <input type="text" class="form-control" id="exampleInputNome" aria-describedby="nomeHelp">
                            <div id="nomeHelp" class="form-text"></div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail" class="form-label">Seu Email</label>
                            <input type="text" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp">
                            <div id="emailHelp" class="form-text"></div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputAssunto" class="form-label">Assunto</label>
                            <input type="text" class="form-control" id="exampleInputAssunto" aria-describedby="assuntoHelp">
                            <div id="assuntoHelp" class="form-text"></div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputMensagem" class="form-label">Mensagem</label>
                            <textarea type="text" class="form-control" id="exampleInputMensagem" aria-describedby="mensagemHelp"></textarea>
                            <div id="mensagemHelp" class="form-text"></div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary">Enviar mensagem</button>
                        </div>
                    </form>
                </div>
                <div style="width: 100%; height: 4px; background-color: #9ab87a"></div>
            </div>
        </div>
    </div>
</section>
<div th:insert="~{/fragments/footer.html}"></div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>