
<!-- Button trigger modal -->
<div class="d-flex justify-content-end mr-4 mb-2">
    <button
            type="button"
            class="rounded-circle btn btn-outline-primary"
            data-toggle="modal"
            data-target="#modalCadastroProduto">
        <i class="fa fa-plus"></i>
    </button>
</div>

<!-- Modal -->
<div th:fragment="modal-produto" class="modal fade" id="modalCadastroProduto" tabindex="-1" role="dialog"
     aria-labelledby="cadastroProdutoModalLabel" aria-hidden="true">
    <div class="container">
        <div class="card" role="document">
            <div class="card-body mt-3">
                <form class="col-12" th:action="@{/produto/cadastrarProduto}" th:object="${produto}" enctype="multipart/form-data" method="POST">
                    <div class="modal-header">
                        <a th:href="@{/produto/meusProdutos}" type="button" class="close" aria-label="Close">
                            <span aria-hidden="true">x</span>
                        </a>
                    </div>
                    <h2 class="text-center"
                        style="
                font-size: 2.2rem;
                font-weight: bold;
                color: #444b6e;
                font-family: courier, arial, helvetica;
            "
                    >CADASTRAR PRODUTO</h2>
                    <div class="mb-2" style="width: 100%; height: 4px; background-color: #9ab87a"></div>
                    <div class="modal-body">
                        <div class="form-row">
                            <input th:if="${usuario} != null" hidden
                                   th:attr="name='usuario.id'" th:value="${usuario.id}"/>
                            <div class="w-100 mb-2">
                                <input type="file" required name="imageFile"/>
                            </div>
                            <div class="form-group col-12">
                                <label for="inputNome">Nome</label>
                                <input name="nome" type="text" class="form-control"
                                       id="inputNome">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputProprietario">Proprietário</label>
                                <input name="proprietario" type="text" class="form-control"
                                       id="inputProprietario">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputCriador">Criador</label>
                                <input id="inputCriador" name="criador" type="text" class="form-control">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputData">Data de Nascimento</label>
                                <input name="dataNascimento" type="text" class="form-control"
                                       id="inputData">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPeso">Peso</label>
                                <input id="inputPeso" name="peso" type="number" class="form-control">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputQuantidade">Quantidade</label>
                                <input name="quantidade" type="number" class="form-control"
                                       id="inputQuantidade">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="valor">Valor</label>
                                <input name="valor" type="number" class="form-control" id="valor">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputLinhagem">Linhagem</label>
                                <input name="linhagem" type="text" class="form-control"
                                       id="inputLinhagem">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputRaca">Raça</label>
                                <input id="inputRaca" name="raca" type="text" class="form-control">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="tipo">Gênero</label><br />
                                <select class="form-control validar" id="tipo" required th:name="genero">
                                    <option th:each="t : ${T(com.pa2.genesrn.enums.EnumGenero).values()}"
                                            th:value="${t}" th:text="${t.getDescricao()}">
                                    </option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputCategoria">Categoria</label>
                                <input name="categoria" type="text" class="form-control"
                                       id="inputCategoria">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputRegistro">Registro</label>
                                <input name="registro" type="text" class="form-control"
                                       id="inputRegistro">
                            </div>
                            <div class="w-100">
                                <label for="inputDescricao">Descricao</label>
                                <textarea name="descricao" class="form-control" id="inputDescricao"
                                          placeholder="Descricao"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between mb-2 ml-2 mr-2">
                        <a th:href="@{/produto/meusProdutos}" type="button" class="btn btn-secondary text-light">Fechar</a>
                        <button type="submit" class="justify-content-end btn btn-primary">Salvar</button>
                    </div>
                    <div class="mb-2" style="width: 100%; height: 4px; background-color: #9ab87a"></div>
                </form>
            </div>
        </div>
    </div>
</div>